<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>My resume</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Global CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <a href="{{ url_for('bpShow.info') }}"><img class="profile" src="{{ url_for('static', filename='images/meSmall.jpg') }}" alt="" /></a>
                <h1 class="name">{{ user.chinesename }}</h1>
                <h5>1996-01-27</h5>
            </div><!--//profile-container-->

            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fa fa-envelope"></i><p>{{ user.email }}</p></li>
                    <li class="phone"><i class="fa fa-phone"></i><p>{{ user.tel }}</p></li>
                    <li><i class="fa fa-bitbucket"></i><a href="https://bitbucket.org/lucheng0127">bitbucket.org/lucheng0127</a></li>
                    <li><i class="fa fa-wechat"></i><a href="#" target="_blank">LC_WeChat_0127</a></li>
                    <li class="github"><i class="fa fa-github"></i><a href="https://github.com/lucheng001/" target="_blank">github.com/lucheng001</a></li>
                </ul>
            </div><!--//contact-container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
                <div class="item">
                    <h4 class="degree">专业:通信工程</h4>
                    <h5 class="meta">西南林业大学</h5>
                    <div class="time">2014入学</div>
                </div><!--//item-->
            </div><!--//education-container-->

            <div class="languages-container container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    <li>Chinese <span class="lang-desc">(Native)</span></li>
                    <li>English <span class="lang-desc">(Not bad)</span></li>
                </ul>
            </div><!--//interests-->

            <div class="interests-container container-block">
                <h2 class="container-block-title">Interests</h2>
                <ul class="list-unstyled interests-list">
                    <li>KickBoxing</li>
                    <li>Swimming</li>
                    <li>Rock Climbing</li>
                </ul>
            </div><!--//interests-->

        </div><!--//sidebar-wrapper-->

        <div class="main-wrapper">

            <section class="section summary-section">
                <h2 class="section-title"><i class="fa fa-user"></i>求职意向{% if current_user.is_authenticated %}<a href="{{ url_for('bpResume.addJProfile') }}" class="fa fa-plus"></a>{% endif %}</h2>
                <div class="summary">
                    <p>
                        {% for jobProfile in jobProfiles %}
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('bpResume.editJProfile', jobProfileId=jobProfile.id) }}" class="fa fa-pencil"></a>
                            {% endif %}
                            <p><b>目标职能：</b>{{ jobProfile.job }}</p>
                            <p><b>工作性质：</b>{{ jobProfile.jobType }}</p>
                            <p><b>期望月薪：</b>{{ jobProfile.salary }}</p>
                        {% endfor %}
                    </p>
                </div><!--//summary-->
            </section><!--//section-->

            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>相关经验{% if current_user.is_authenticated %}<a href="{{ url_for('bpResume.addJExperience') }}" class="fa fa-plus"></a>{% endif %}</h2>
                {% for jobExperience in jobExperiences %}
                    <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title">{{ jobExperience.theme }}{% if current_user.is_authenticated %}<a href="{{ url_for('bpResume.deleteJExperience', jExperienceId=jobExperience.id) }}" class="fa fa-trash"></a>{% endif %}</h3>
                                <div class="time">{{ jobExperience.time }}</div>
                            </div><!--//upper-row-->
                            <div class="company">{{ jobExperience.location }}</div>
                        </div><!--//meta-->
                        <div class="details">
                            <p>
                                {{ jobExperience.body }}
                            </p>
                        </div><!--//details-->
                    </div><!--//item-->
                {% endfor %}
            </section><!--//section-->

            <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>项目经历{% if current_user.is_authenticated %}<a href="{{ url_for('bpResume.addPExperience') }}" class="fa fa-plus"></a> {% endif %}</h2>
                <div class="intro">
                    <p>此项目经历指的是经过测试并可对外开放使用的项目，并非课堂上随便做做的那种。</p>
                </div><!--//intro-->
                {% for projectExperience in projectExperiences %}
                    <div class="item">
                        <span class="project-title"><a target="_blank">{% if current_user.is_authenticated %}<a href="{{ url_for('bpResume.deletePExperience', pExperienceId=projectExperience.id) }}" class="fa fa-trash"></a>{% endif %}{{ projectExperience.name }}</a></span> -
                        <span class="project-tagline">{{ projectExperience.body }}</span>
                    </div><!--//item-->
                {% endfor %}
            </section><!--//section-->

            <section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>技能结构{% if current_user.is_authenticated %}<a href="{{ url_for('bpResume.addPStructure') }}" class="fa fa-plus"></a> {% endif %}</h2>
                <div class="skillset">
                    {% for projectStructure in projectStructures %}
                        <div class="item">
                        <h3 class="level-title">{% if current_user.is_authenticated %}<a href="{{ url_for('bpResume.deletePStructure', pStructureId=projectStructure.id) }}" class="fa fa-trash"></a>{% endif %}{{ projectStructure.name }}</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" style="width: {{ projectStructure.pdate }}%;">
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->
                    {% endfor %}
                </div>
            </section><!--//skills-section-->

        </div><!--//main-body-->
    </div>

    <footer class="footer">
        <div class="text-center">
                <small class="copyright">Copyright &copy; 2016 lucheng  |  mail: lc960127@gmail.com  |   WeChat:  LC_WeChat_0127   |  Bitbucket: <a href="https://bitbucket.org/lucheng0127">https://bitbucket.org/lucheng0127</a></small>
        </div><!--//container-->
    </footer><!--//footer-->

    <!-- Javascript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- custom js -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>

