{% extends'base.html' %}

{% block page_content %}
    <div class="logo-holder logo-top-margin">
        <a href="{{ url_for('bpShow.resume') }}" class="site-brand"><img src="{{ url_for('static', filename='images/logo.jpg') }}"></a>
    </div>
    <div class="container">
        <div class="row">
            {% with messages = get_flashed_messages(with_categories = True) %}
        {% if messages %}
            {% for category, message in messages %}
                <span class="text-danger"><b>{{ category }}:</b>{{ message }}</span>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <form class="subscribe-form" action="{{ url_for('bpResume.addPStructure') }}" method="post">
            {{ form.csrf_token }}
            <div class="col-md-12">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <label>Add your job experience</label>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <label>技能:</label>
                <input type="text" class="email" name="name" placeholder="技能">
                <label>掌握程度:</label>
                <input type="text" class="email" name="pdate" placeholder="掌握程度">
                <input type="submit" class="button default" value="Add">
            </div>
        </form>
        </div>
    </div>
{% endblock %}